.calendar_day {
  width: 125px;
  height: 75px;
  position: relative;
  border: 1px solid #a6a6a6;
}

.table_content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}
