.weekdays_header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 500;
}

.months_header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
